:root{
    --page-bg-color: #363741;
    --container-bg-color: #242424;
    --container-border-radius: 12px;
    --text-color: #ffffff;
    --primary-color: #686a7d;
    --primary--on-hover-color: #7d7f94;
    --outline-width: 1.6px;

    --textfield-bg-color: #4d4d4d;
    --on-hower-textfield-bg-color: #616161;
    --on-focus-color: #434343;
    --on-focus-bg-color: #3d3d3d;
}