@import 'mixins';

.layout {
  display: grid;
  // Не стоит писать 100vh без надобности, здесь всё легко делается и без этого
  // у меня без этого скролится вся страница и всё съезжает
  // Точно? Я проверил и вроде всё нормально
  //ааааааа всё равно неправильно
  height: 100vh;

  &__nav,
  &__conversations,
  &__chat {
    overflow-y: hidden;
  }
}


@include mobile {
  .layout {
    &__conversations {
      display: none;
    }
  }
}

@include desktop {
  .layout {
    grid-template-areas: " layout__conversations layout__chat";
    grid-template-columns: 300px 1fr;


    &__conversations {
      grid-area: layout__conversations;
      border-right: 1px solid var(--border-color);
    }

    &__chat {
      grid-area: layout__chat;
    }
  }
}
