.textfield {
    outline: var(--outline-width) solid var(--primary-color);
    border: 0ch;
    flex: 1;
    padding: 8px;
    font-size: 20px;
    border-radius: var(--container-border-radius);
    background-color: var(--textfield-bg-color);
    color: var(--text-color);

    &:hover {
        background-color: var(--on-hower-textfield-bg-color);
    }

    &:focus {
        outline-width: 1px;
        background-color: var(--on-focus-bg-color);
    }

    &-message-input {
        color: var(--text-color);
        padding: 7px;
        flex: 15;
        background-color: var(--textfield-bg-color);
        border-radius: 7px;
        outline: none;
        border: none;

    }
}