:root {
    --header-height: 55px;
    --header-bg-color: #2e2b44;

    --page-bg-color: #3d3e44;
    --page-bg-colo-darker: #1e1f24;
    --container-bg-color: #242424;
    --container-border-radius: 12px;
    --text-color: #fff;

    --outline-width: 2px;
    --border-color: rgb(77, 72, 72);

    --textfield-bg-color: #4d4d4d;
    --on-hower-textfield-bg-color: #616161;
    --on-focus-color: #434343;
    --on-focus-bg-color: #3d3d3d;

    --primary-color: #5e6ad2;
    --primary--on-hover-color: #7d7f94;
}