:root {
  --header-height: 55px;
  --header-bg-color: #2e2b44;
  --page-bg-color: #3d3e44;
  --page-bg-colo-darker: #1e1f24;
  --container-bg-color: #242424;
  --container-border-radius: 12px;
  --text-color: #fff;
  --outline-width: 2px;
  --border-color: rgb(77, 72, 72);
  --textfield-bg-color: #4d4d4d;
  --on-hower-textfield-bg-color: #616161;
  --on-focus-color: #434343;
  --on-focus-bg-color: #3d3d3d;
  --primary-color: #5e6ad2;
  --primary--on-hover-color: #7d7f94;
}

.textfield {
  outline: var(--outline-width) solid var(--primary-color);
  border: 0;
  flex: 1;
  padding: 8px;
  font-size: 20px;
  border-radius: var(--container-border-radius);
  background-color: var(--textfield-bg-color);
  color: var(--text-color);
}
.textfield:hover {
  background-color: var(--on-hower-textfield-bg-color);
}
.textfield:focus {
  outline-width: 1px;
  background-color: var(--on-focus-bg-color);
}
.textfield-message-input {
  width: 0;
  color: var(--text-color);
  padding: 7px;
  flex: 15;
  background-color: var(--textfield-bg-color);
  border-radius: 7px;
  outline: none;
  border: none;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.btn {
  font-size: large;
  font-weight: 500;
  outline: var(--outline-width) solid var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: var(--container-border-radius);
  color: var(--text-color);
  min-height: 32px;
  background: var(--primary-color);
  border: none;
}
.btn:hover {
  background-color: var(--primary--on-hover-color);
  outline: none;
}
.btn:disabled {
  background: #737d88;
}
.btn_link {
  color: var(--primary-color);
  background-color: transparent;
  outline: 0;
  border: none;
}

.messages {
  display: grid;
  gap: 8px;
  padding: 8px;
}
.messages_message {
  max-width: 80%;
}

.message {
  display: flex;
}
.message .message-content,
.message .message-from {
  color: var(--text-color);
  padding: 12px 18px 6px;
  background-color: var(--container-bg-color);
  gap: 4px;
}
.message .message-content {
  border-radius: 0 16px 16px 16px;
}
.message .message-from {
  border-radius: 16px 16px 0 16px;
}

.chat {
  background-color: var(--page-bg-color);
}
.chat__header {
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

.box-scroll {
  display: flex;
  flex-direction: column;
}
.box-scroll__content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.box-scroll__header {
  flex-shrink: 0;
}
.box-scroll__content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.box-scroll__footer {
  flex-shrink: 0;
  padding: 12px;
}

.layout {
  display: grid;
  height: 100vh;
}
.layout__nav, .layout__conversations, .layout__chat {
  overflow-y: hidden;
}

@media screen and (max-width: 767px) {
  .layout__conversations {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .layout {
    grid-template-areas: " layout__conversations layout__chat";
    grid-template-columns: 300px 1fr;
  }
  .layout__conversations {
    grid-area: layout__conversations;
    border-right: 1px solid var(--border-color);
  }
  .layout__chat {
    grid-area: layout__chat;
  }
}
.avatar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--container-bg-color);
  overflow: hidden;
}

.chat-header {
  box-sizing: border-box;
  height: var(--header-height);
  background-color: var(--header-bg-color);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 15px;
}
.chat-header-text {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--text-color);
  font-size: 18px;
}
.chat-header__avatar {
  flex-shrink: 0;
}
.chat-header__content {
  flex: 1 1 auto;
  display: grid;
  gap: 4px;
}
.chat-header__status {
  color: var(--primary-color);
}

.conversation {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  padding: 4px;
  height: 70px;
  display: flex;
  gap: 8px;
}
.conversation__content {
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.conversation-header {
  height: var(--header-height);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 15px;
}
.conversation-header-text {
  flex-shrink: 0;
  color: var(--text-color);
  font-size: 25px;
}
.conversation-header__avatar {
  flex-shrink: 0;
}
.conversation-header__content {
  flex: 1 1 auto;
  display: grid;
  gap: 4px;
}
.conversation-header__status {
  color: var(--primary-color);
}
.conversations {
  background-color: var(--page-bg-colo-darker);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--page-bg-color);
}
.wrapper__main {
  padding: 15px;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  display: grid;
  gap: 10px;
  padding: 30px;
  border-radius: var(--container-border-radius);
  background-color: var(--container-bg-color);
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1;
}

.icon {
  color: var(--primary-color);
}

/*# sourceMappingURL=style.css.map */
