@import "variables";
@import "textfield";
@import "fade_animation";
@import "button";
@import "messages";
@import "scroll";
@import "layout";
@import "mixins";
@import "avatar";
@import "chat-header";
@import "conversation";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
  margin: 0;
}

.wrapper {
  min-height: 100vh;

  background-color: var(--page-bg-color);

  &__main {
    padding: 15px;
    box-sizing: border-box;
  }
}

.container {
  overflow: hidden;
  display: grid;
  gap: 10px;
  padding: 30px;
  border-radius: var(--container-border-radius);
  background-color: var(--container-bg-color);
}


.center {
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row {
  display: flex;
  gap: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1;
}

.icon {
  color: var(--primary-color);
}